body {
  background-color: aquamarine;
  font-size: 25px;
}

h1 {
  text-align: center;
}

 a {
  font-family: monospace;
}

div {
  background-color: cornsilk;
  width:fit-content;
}

button {
  width: fit-content;
  font-size: 50px;
  background-color: red;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

span {
  color: rgb(255, 0, 0);
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.books {
  width: fit-content;
  background-color: blueviolet;
  font-size: 33px;
}

.more {
  width: fit-content;
  background-color:red;
  font-size: 50px;
  font-family: monospace;
}